# Load dataset

In [4]:
import pandas as pd

df = pd.read_csv('transaction_data.csv', index_col=0)
df

                A  C  D  E  I  K  M  N  O  U  Y
Transaction ID
1000            0  0  0  1  0  1  1  1  1  0  1
2000            0  0  1  1  0  1  0  0  1  0  1
4000            1  0  0  1  0  1  1  0  0  0  0
5000            0  1  0  0  0  1  1  0  0  1  1
6000            0  1  0  1  1  1  0  0  2  0  0
7000            0  0  1  0  0  0  1  2  2  0  0

In [6]:
# transformasi dataset menjadi bentuk boolean
df = df.astype(bool)
# mengubah nilai True menjadi 1 dan False menjadi 0
df = df.astype(int)
df

                A  C  D  E  I  K  M  N  O  U  Y
Transaction ID
1000            0  0  0  1  0  1  1  1  1  0  1
2000            0  0  1  1  0  1  0  0  1  0  1
4000            1  0  0  1  0  1  1  0  0  0  0
5000            0  1  0  0  0  1  1  0  0  1  1
6000            0  1  0  1  1  1  0  0  1  0  0
7000            0  0  1  0  0  0  1  1  1  0  0

# Penerapan Apriori

In [2]:
import sys
!{sys.executable} -m pip install mlxtend

Collecting mlxtend
  Using cached mlxtend-0.23.4-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\fz\tugasml2\.venv\lib\site-packages (from mlxtend) (1.15.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\fz\tugasml2\.venv\lib\site-packages (from mlxtend) (2.2.6)
Requirement already satisfied: pandas>=0.24.2 in c:\users\fz\tugasml2\.venv\lib\site-packages (from mlxtend) (2.2.3)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\fz\tugasml2\.venv\lib\site-packages (from mlxtend) (1.6.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\fz\tugasml2\.venv\lib\site-packages (from mlxtend) (3.10.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\fz\tugasml2\.venv\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\fz\tugasml2\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\fz\tugasml2\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\fz\tugasml2\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\fz\tugasml2\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\fz\tugasml2\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\fz\tugasml2\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\fz\tugasml2\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\fz\tugasml2\.venv\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\fz\tugasml2\.venv\lib\site-packages (from pandas>=0.24.2->mlxtend) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\fz\tugasml2\.venv\lib\site-packages (from pandas>=0.24.2->mlxtend) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\fz\tugasml2\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\fz\tugasml2\.venv\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.6.0)
Using cached mlxtend-0.23.4-py3-none-any.whl (1.4 MB)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.4

In [9]:
# apriori algorithm
from mlxtend.frequent_patterns import apriori, association_rules
frequent_itemsets = apriori(df, min_support=0.33, use_colnames=True) #2 barang dari 6 transaksi, sehingga support minimal 0.33
# menampilkan frequent itemsets
frequent_itemsets

c:\Users\FZ\tugasML2\.venv\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support      itemsets
0   0.333333           (C)
1   0.333333           (D)
2   0.666667           (E)
3   0.833333           (K)
4   0.666667           (M)
5   0.333333           (N)
6   0.666667           (O)
7   0.500000           (Y)
8   0.333333        (K, C)
9   0.333333        (O, D)
10  0.666667        (E, K)
11  0.333333        (E, M)
12  0.500000        (E, O)
13  0.333333        (E, Y)
14  0.500000        (K, M)
15  0.500000        (O, K)
16  0.500000        (K, Y)
17  0.333333        (N, M)
18  0.333333        (O, M)
19  0.333333        (Y, M)
20  0.333333        (O, N)
21  0.333333        (O, Y)
22  0.333333     (E, K, M)
23  0.500000     (E, O, K)
24  0.333333     (E, K, Y)
25  0.333333     (E, O, Y)
26  0.333333     (K, Y, M)
27  0.333333     (O, K, Y)
28  0.333333     (O, N, M)
29  0.333333  (E, O, K, Y)

In [13]:
# rule association
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8) # aturan dengan confidence minimal 80%
# menampilkan rules
rules = rules[['antecedents', 'consequents', 'support', 'confidence']]
rules

   antecedents consequents   support  confidence
0          (C)         (K)  0.333333         1.0
1          (D)         (O)  0.333333         1.0
2          (E)         (K)  0.666667         1.0
3          (Y)         (K)  0.500000         1.0
4          (N)         (M)  0.333333         1.0
5          (N)         (O)  0.333333         1.0
6       (E, M)         (K)  0.333333         1.0
7       (E, O)         (K)  0.500000         1.0
8       (O, K)         (E)  0.500000         1.0
9       (E, Y)         (K)  0.333333         1.0
10      (E, Y)         (O)  0.333333         1.0
11      (O, Y)         (E)  0.333333         1.0
12      (Y, M)         (K)  0.333333         1.0
13      (O, Y)         (K)  0.333333         1.0
14      (O, N)         (M)  0.333333         1.0
15      (O, M)         (N)  0.333333         1.0
16      (N, M)         (O)  0.333333         1.0
17         (N)      (O, M)  0.333333         1.0
18   (E, O, Y)         (K)  0.333333         1.0
19   (E, K, Y)         (O)  0.333333         1.0
20   (O, K, Y)         (E)  0.333333         1.0
21      (E, Y)      (O, K)  0.333333         1.0
22      (O, Y)      (E, K)  0.333333         1.0

In [14]:
# Filter rules yang melibatkan tepat 3 barang (gabungan antecedent dan consequent)
rules_3items = rules[rules['antecedents'].apply(len) + rules['consequents'].apply(len) == 3]
rules_3items.reset_index(drop=True, inplace=True)
rules_3items

   antecedents consequents   support  confidence
0       (E, M)         (K)  0.333333         1.0
1       (E, O)         (K)  0.500000         1.0
2       (O, K)         (E)  0.500000         1.0
3       (E, Y)         (K)  0.333333         1.0
4       (E, Y)         (O)  0.333333         1.0
5       (O, Y)         (E)  0.333333         1.0
6       (Y, M)         (K)  0.333333         1.0
7       (O, Y)         (K)  0.333333         1.0
8       (O, N)         (M)  0.333333         1.0
9       (O, M)         (N)  0.333333         1.0
10      (N, M)         (O)  0.333333         1.0
11         (N)      (O, M)  0.333333         1.0

### Interpretasi Hasil

Hasil yang diperoleh menggunakan library `apriori` dan `association_rules` dari `mlxtend` menunjukkan frequent itemsets dan aturan asosiasi yang identik dengan hasil yang didapat melalui perhitungan manual. Hal ini dapat dilihat dari nilai support, confidence, serta kombinasi antecedents dan consequents yang sama pada kedua metode.

Dengan demikian, hasil yang diperoleh pada langkah manual telah tervalidasi dan terbukti benar, karena sesuai dengan hasil dari library yang sudah teruji secara luas. Ini menunjukkan bahwa proses perhitungan manual yang dilakukan sudah tepat dan dapat diandalkan.